/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.input-group {
    margin-bottom: 1rem !important;
}
.btn-enable-template {
    margin: calc(-.2* var(--bs-modal-header-padding-y)) calc(-.2* var(--bs-modal-header-padding-x)) calc(-.2* var(--bs-modal-header-padding-y)) auto;
}
.btn-create-template a{
    color: white !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.cp {
    cursor: pointer !important;
}

.flags {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    font-size: larger;
}

@media (max-width: 991px) {
    .flags {
        display: none;
    }
}

.server_stun_wda,
.server_port_stun_wda,
.server_turn_ma,
.server_port_turn_ma,
.server_username_turn_ma,
.server_password_turn_ma {
    transition: height 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
    height: auto; /* Fixer la hauteur initiale */
    opacity: 1;   /* Opacité pleine par défaut */
    visibility: visible; /* Visible par défaut */
}

.hide {
    height: 0 !important;
    opacity: 0 !important;
    visibility: hidden !important;
}


.copy a {
    color: inherit; /* Hérite la couleur de l'élément parent */
    text-decoration: underline; /* Supprime le soulignement */
  }
  
.copy a:hover {
color: #d2d8dd !important;
}

.error_import {
    color: red;
    font-weight: bold;
    font-size: x-small;
}

.gear-edit-template {
    color: inherit;
    text-decoration: none;
}
