/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.input-group {
    margin-bottom: 1rem !important;
}
.btn-enable-template {
    margin: calc(-.2* var(--bs-modal-header-padding-y)) calc(-.2* var(--bs-modal-header-padding-x)) calc(-.2* var(--bs-modal-header-padding-y)) auto;
}
.btn-create-template a{
    color: white !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.cp {
    cursor: pointer !important;
}

.flags {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    font-size: larger;
}

@media (max-width: 991px) {
    .flags {
        display: none;
    }
}